<div class="panel">
  <div class="container-fluid">
      <h3>Subscribe to newsletter</h3>
    <div class="panel-body">
      {% if success_message %}
      <div class="alert alert-success" role="alert"> {{ success_message }}</div>
      {% endif %}
      {% if error_message %}
      <div class="alert alert-danger" role="alert">{{ error_message }}</div>
      {% endif %}
      <form class="form" action='https://{{ subdomain }}.sendsmaily.net/api/opt-in/' method="post" autocomplete="off">
            <input type="hidden" name="language" value='{{ langauge }}' />
            <input type="hidden" name="success_url" value='{{ current_url }}' />
            <input type="hidden" name="failure_url" value='{{ current_url }}' />
            <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="{{ email_placeholder }}" required/>
            </div>
            <div class="from-group">
            <div class="input-group">
              <input type="text" class="form-control" name="name" placeholder="{{ name_placeholder }}" />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-primary">{{ subscribe_button }}</button>
              </span>
            </div>
            </div>
        <div style="overflow:hidden;height:0px;">
            <input type="text" name="re-email" value="" />
        </div>
      </form>
  </div>
  </div>
</div>
